{% if node.attrs.fieldName %}<span style="display: block; margin-bottom: 0.3em; font-size: 8.5pt; color: #6b7280;">{{
    node.attrs.fieldName }}</span>
{% endif %}<div class="checkboxGroup"
    style="display: flex; flex-direction: {{ 'row' if node.attrs.orientation == 'horizontal' else 'column' }}; flex-wrap: wrap; align-items: {{ 'center' if node.attrs.orientation == 'horizontal' else 'flex-start' }}; gap: {{ '16px' if node.attrs.orientation == 'horizontal' else '10px' }};">
    {%- for option in node.attrs.options -%}
    <div class="checkbox-span" style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
        <span
            class="checkbox {% if node.attrs.fieldValue %}{% if option.value in node.attrs.fieldValue %}checkbox--checked{% endif %}{% else %}{% if option.value in node.attrs.defaultValue %}checkbox--checked{% endif %}{% endif %}"></span>
        <label class="checkbox-label" style="white-space: nowrap;">{{ option.label }}</label>
    </div>
    {%- endfor -%}
</div>
