<table>
    {%- set visible_columns = [] -%} {%- for header, props in
    node.attrs.columns.items() -%} {%- if props.visible -%} {%- set _ =
    visible_columns.append((header, props)) -%} {%- endif -%} {%- endfor -%}
    <thead>
        <tr>
            {%- for header, props in visible_columns|sort(attribute='1.order') -%} {%
            set header_text = props.alias if props.alias else props.originalName %} {%
            set ns = namespace(text=header_text) %} {%- for mark in node.marks if
            node.marks -%} {%- set ns.text -%} {%- with template='marks/' + mark.type
            + '.html', text=ns.text, mark=mark -%} {%- include template -%} {%-
            endwith -%} {%- endset -%} {%- endfor -%}
            <th {% if props.width %}style="width: {{ props.width }}px" {% endif %}>
                {{ns.text | safe }}
            </th>
            {%- endfor -%}
        </tr>
    </thead>
    <tbody>
        {%- for row in node.attrs.content.rows -%}
        <tr>
            {%- for header, props in visible_columns|sort(attribute='1.order') -%} {%
            set cell_index = node.attrs.content.headers.index(header) %} {% set ns =
            namespace(text=row[cell_index]) %} {%- for mark in node.marks if
            node.marks -%} {%- set ns.text -%} {%- with template='marks/' + mark.type
            + '.html', text=ns.text, mark=mark -%} {%- include template -%} {%-
            endwith -%} {%- endset -%} {%- endfor -%}
            <td {% if props.width %}style="width: {{ props.width }}px" {% endif %}>
                {{ns.text | safe }}
            </td>
            {%- endfor -%}
        </tr>
        {%- endfor -%}
    </tbody>
</table>