<span style="display: inline-block; vertical-align: top; margin-right: 12px;">{% if node.attrs.fieldName %}<span
        style="display: block; margin-bottom: 0.3em; font-size: 8.5pt; color: #6b7280;">{{ node.attrs.fieldName
        }}</span>{% endif %}<span class="selectField">{% if node.attrs.fieldValue %}{% for option in node.attrs.options
        %}{% if option.value == node.attrs.fieldValue %}{{ option.label }}{% endif %}{% endfor %}{% else %}{{
        node.attrs.defaultValue }}{% endif %}</span></span>
